@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');


body {
  padding: 50px;
  font: 14px "Inter Tight", "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}

h4 {
  margin: 1rem 0;
}

.main {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  transition: all .3s ease;
}

button {
  background: black;
  border-radius: 25px;
  padding: .7rem 2rem;
  color: #ffff;
  font-weight: 600;
  cursor: pointer;
  margin: 2rem 0 1rem 0;
}

.upper {
  text-transform: uppercase;
  margin-bottom: 3rem;
}

a {
  color: #000000;
  text-decoration: none;
  margin-top: 1rem;
}

a:hover {
  text-decoration: underline;
}

.box {
  display: flex;
  flex-wrap: wrap;
   min-width: 200px;
  gap: 2rem;
}

a.source-link {
  position: relative;
  width: fit-content;
  height: fit-content;
  padding-right: 2rem;
}

a.source-link .icon {
  display: none;
  position: absolute;
  top: -3px;
  right: -10px;
}

a.source-link:hover .icon {
  display: block;
}

.container {
  margin-top: 4rem;
}

.container .header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  width: 100%;
  border-bottom: 2px solid #4444;
  transition: all .3s ease-out;
}

.container .header span {
  padding: .4rem .8rem;
  cursor: pointer;
  transition: all .3s ease-out;
  border-bottom: 2px solid transparent;
}

.container .header span:hover {
  border-color: #000000;
}

.container .header span.active {
  border-bottom: 1px solid #000000 !important;
}

.container .content {
  min-height: 25rem;
}

#content-presentation, #content-summary {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: fit-content;
  padding: 1rem;
  transition: width .3s ease-out;
}
